<ion-content>  
  
  <form [formGroup]="ionicForm"  novalidate (ngSubmit)="recuperar()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="assets/logo/logo_white_large.png"  alt="Lo de tito"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>          
            <ion-label>Correo</ion-label>
            <ion-input type="email" formControlName="username" required></ion-input>          
          <!-- user error messages -->
          <div *ngIf="(username.dirty || username.touched) && username.errors" class="errors ion-padding">
            <span *ngIf="username.errors?.required"> El correo es requerido.</span>
            <span *ngIf="username.errors?.minlength"> El correo debe tener al menos cuatro carácteres.</span>
            <span *ngIf="username.errors?.email"> Debe agregar un correo valido.</span>
          </div>
        </ion-col>
      </ion-row>
           <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" color="tertiary" [disabled]="!this.ionicForm.valid" >Recuperar Contraseña</ion-button>                    
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>