ion-title{ 
    text-align: center;
}

ion-content {
    --ion-grid-column-padding:        5px;
    --padding-top:35%;
    --background: rgb(121,116,199);
    --background: linear-gradient(28deg, rgba(121,116,199,1) 0%, rgba(80,80,210,1) 34%, rgba(0,212,255,1) 100%);
}
ion-button {
    border-radius: 30px;
    height: 8vh;
    }

ion-list{
    --background: none;
}
ion-list-header{
    font-size:1.5em;
    text-align: center;    
}
ion-label{    
    color:white;
    --margin-bottom:20px;
}
ion-input{
    background-color:rgba(255,255,255,0.9);
}
ion-item{
    --background: none;
}
ion-grid{
    --padding-start:10%;
    --padding-end:10%;
}
ion-col{
    padding:2vh 20px;    
}

.errors {
    font-size: small;
    color: var(--ion-color-light);
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
